// main: style.less

.rect() {
    max-width: 1000px;
    max-height: 500px;
    border-radius: 10px;
}

.container() {
    width: 100%;
    height: 100%;
}

// Bind picture from img folder to div
.generate-back(@n, @i: 1) when (@i <= @n) {
    .img-@{i} {
        background: ~"url(../img/food@{i}.jpg) center";
        background-size: cover;
        position: relative;

        & span {
            position: absolute;
        }
    }
    .generate-back(@n, (@i + 1))
}